$white: #fff;
$black: #000;
$dark: #0f2a48;
$main: #007fc8;
$blueDark: #063455;
$blueFon: #192c4c;
$red: #eb2434;
$mainHover: #00a3f5;
$mainDark: #385c90;
$second: #a0b0ba;
$fon: #fff;
$imgFon: '../images/imgs/background2.png';

$baseFontSizeText: 14px;
$font: 'Montserrat', Helvetica, Arial, sans-serif;
