<footer class="footer">
    <img class="footer__bg" src="assets/images/imgs/bg3.png" alt="">
    <div class="container">
        <img class="footer__logo" src="assets/images/logoWhite.png" alt="">

        <div class="footer__wrp">
            <div class="footer__l">
                <ul class="footer__c">
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Возможности</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Вопросы и ответы</a></li>
                    <li><a href="#">Пожарная безопасность</a></li>
                    <li><a href="#">Статьи</a></li>
                </ul>
            </div>

            <div class="footer__r">
                <ul>
                    <li><a href="https://goo.gl/maps/u3gKWPWcGnBuNRTG9"><i class="i-geo"></i>г. Москва, ул. Алтайская, 4 офис 8</a></li>
                    <li><a href="mailto:info@umics.ru"><i class="i-email"></i>info@umics.ru</a></li>
                    <li><a href="tel:+74991108208"><i class="i-phone"></i>+7 (499) 110-82-08</a></li>
                    <li><a href="tel:+74992888112"><i class="i-phone"></i>+7 (499) 288-81-12</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
