<header class="header ">
    <div class="container">
        <div class="header__row">
            <div class="header__bottom">
                <a href="/" class="logo">
                    <img src="assets/images/logo.png" alt="">
                </a>
                <div class="header__phone-wrp">
                    <a class="header__phone" href="tel:+74991108208" style="--btnFz: 22px">
                        <div class="header__phone-icon">
                            <i class="i-phone"></i>
                        </div>
                        <span> +7 (499) 110-82-08 </span>
                    </a>
                    <a href="#" class="header__call open-modal" data-key="call">
                        Заказать обратный звонок
                    </a>
                </div>

                <div class="burger">
                    <img src="assets/images/icons/burger.svg" alt="">
                    <img src="assets/images/icons/closeWhite.svg" alt="">
                </div>
            </div>

            <nav class="header__nav">
                <ul>
                    <li class="active">
                        <a href="/">Главная</a>
                    </li>
                    <li>
                        <a class="dropdown-btn" href="services.html">Услуги</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Пожарная сигнализация</a>
                                <ul class="dropdown-submenu ">
                                    <li>
                                        <a href="service.html">Проектирование пожарной сигнализации</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Проектирование систем противопожарной защиты</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Монтаж пожарной сигнализации</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Обслуживание пожарной сигнализации в Москве</a>
                                    </li>
                                    <li>
                                        <a href="service.html">Ремонт пожарной сигнализации</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Огнезащитная обработка</a>
                                <ul class="dropdown-submenu ">
                                    <li>
                                        <a href="#">
                                            Огнезащитная обработка дерева</a>
                                    </li>
                                    <li>
                                        <a href="#">Огнезащитная
                                            обработка металла</a>
                                    </li>
                                    <li>
                                        <a href="#">Огнезащита
                                            воздуховодов</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Автоматическое пожаротушение</a>
                                <ul class="dropdown-submenu ">
                                    <li>
                                        <a href="#">Проектирование
                                            пожаротушения</a>
                                    </li>
                                    <li>
                                        <a href="#">Монтаж
                                            водяного пожаротушения</a>
                                    </li>
                                    <li>
                                        <a href="#">Монтаж
                                            газового пожаротушения</a>
                                    </li>
                                    <li>
                                        <a href="#">Монтаж
                                            аэрозольного пожаротушения</a>
                                    </li>
                                    <li>
                                        <a href="#">Монтаж
                                            порошкового пожаротушения</a>
                                    </li>
                                    <li>
                                        <a href="#">Пожаротушение
                                            тонкораспыленной водой</a>
                                    </li>
                                    <li>
                                        <a href="#">Монтаж
                                            противопожарного водопровода</a>
                                    </li>
                                    <li>
                                        <a href="#">Проектирование
                                            водяного пожаротушения</a>
                                    </li>
                                    <li>
                                        <a href="#">Проектирование
                                            порошкового пожаротушения</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Видеонаблюдение</a>
                                <ul class="dropdown-submenu ">
                                    <li class=" ">
                                        <a href="#">Монтаж
                                            видеонаблюдения</a>
                                    </li>
                                    <li class=" ">
                                        <a href="#">Установка
                                            камер видеонаблюдения</a>
                                    </li>
                                    <li class=" ">
                                        <a href="#">Видеонаблюдение
                                            в офисе</a>
                                    </li>
                                    <li class=" ">
                                        <a href="#">Видеонаблюдение
                                            в кафе</a>
                                    </li>
                                    <li class=" ">
                                        <a href="#">Видеонаблюдение
                                            в частном доме</a>
                                    </li>
                                    <li class=" ">
                                        <a href="#">Установка
                                            AHD/TVI/CVI - видеонаблюдения</a>
                                    </li>
                                    <li class=" ">
                                        <a href="#">Установка IP
                                            видеонаблюдения</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Охранная сигнализация</a>
                                <ul class="dropdown-submenu">
                                    <li class=" ">
                                        <a href="#">Установка
                                            охранной сигнализации</a>
                                    </li>
                                    <li class=" ">
                                        <a href="#">Охранная
                                            сигнализация для дачи</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Системы контроля доступа</a>
                                <ul class="dropdown-submenu ">
                                    <li class=" ">
                                        <a href="#">Установка
                                            системы контроля доступа</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Cистемы защиты периметра</a>
                                <ul class="dropdown-submenu ">
                                    <li class=" ">
                                        <a href="#">Системы
                                            охраны периметра</a>
                                    </li>
                                    <li class=" ">
                                        <a href="#">Монтаж
                                            колючей проволоки Егоза</a>
                                    </li>
                                    <li class=" ">
                                        <a href="#">Охранное
                                            освещение периметра</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-btn" href="#">Компания</a>
                        <ul class="dropdown-menu">
                            <li class=" ">
                                <a href="licenses.html">Лицензии</a>
                            </li>
                            <li class=" ">
                                <a href="vacancies.html">Вакансии</a>
                            </li>
                            <li class=" ">
                                <a href="projects.html">Проекты</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="projects.html">Проекты</a></li>
                    <li><a href="news.html">Новости</a></li>
                    <li><a href="#">Статьи</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
                <div class="search">
                    <input type="text" placeholder="Поиск">
                    <button><i class="i-search"></i></button>
                </div>

            </nav>
        </div>
    </div>
</header>




