<div class="inst__wrp grid" style="--x: 3;gap: 23px">
    <a href="#" class="inst__it">
        <div class="inst-img">
            <img src="assets/images/icons/money.png" alt="">
        </div>
        <div class="subtitle">Минимальная наценка
            на оборудование</div>
        <p>Экономия  <span class="text-red">до 20%</span><br>
            от стоимости оборудования.</p>
    </a>
    <a href="#" class="inst__it">
        <div class="inst-img">
            <img src="assets/images/icons/warehouse.png" alt="">
        </div>
        <div class="subtitle">Собственный склад
            оборудования</div>
        <p>Можем приступить к работам
            на следующий день после обращения в нашу компанию.</p>
    </a>
    <a href="#" class="inst__it">
        <div class="inst-img">
            <img src="assets/images/icons/blueprint.png" alt="">
        </div>
        <div class="subtitle">Проект мы
            разработаем бесплатно</div>
        <p>При заказе монтажных работ проект системы пожарной сигнализации
            в подарок. Экономия <span class="text-red">до 15%</span> общей стоимости сметы.</p>
    </a>
</div>