<div class="inst__wrp grid" style="--x: 3;gap: 23px">
    <a href="#" class="inst__it">
        <div class="inst-img">
            <img src="assets/images/icons/architect.png" alt="">
        </div>
        <div class="subtitle">Выезд инженера -
            бесплатно
        </div>
        <p>Если площадь объекта более 1000 м2 для определения точной стоимости выполнения проектных работ инженер
            предварительно выезжает на объект. Выгода <span class="text-red">от 2500 руб.</span> по Москве
        </p>
    </a>
    <a href="#" class="inst__it">
        <div class="inst-img">
            <img src="assets/images/icons/calculator.png" alt="">
        </div>
        <div class="subtitle">Расчет категорий -
            бесплатно
        </div>
        <p>В проектах складских
            и производственных зданий расчет категорий взрывопожарной опасности мы делаем бесплатно. Ваша выгода <span class="text-red">от 2500 руб.</span> за каждое помещение.</p>
    </a>
    <a href="#" class="inst__it">
        <div class="inst-img">
            <img src="assets/images/icons/money.png" alt="">
        </div>
        <div class="subtitle">Подбор оборудования
            с учетом вашего бюджета
        </div>
        <p>Мы не связаны с конкретными вендорами оборудования и учтем все ваши пожелания по стоимости.
            Выгода может достигать <span class="text-red">100%</span> стоимости оборудования.</p>
    </a>
</div>