<div class="modal modal-question">
    <div class="modal__wrp">
        <div class="modal-close">
            <img src="assets/images/icons/closeWhite.svg" alt="">
        </div>
        <div class="modal__box bnr__fon">
            <div class="modal__box-icon">
                <i class="i-phone white"></i>
            </div>
            <div>
                <div class="modal__title">Задать вопрос</div>
                <p>Манеджеры компании с радостью ответят на ваши вопросы и произведут расчет стоимости услуг и
                    подготовят идивидуальное коммерческое предложение.</p>
            </div>
        </div>
        <div class="modal-form ">
            <div class="inputBox required">
                <label>Ваше имя:</label>
                <input type="text" required>
            </div>
            <div class="inputBox required">
                <label>Телефон:</label>
                <input type="text" required>
            </div>
            <div class="inputBox required">
                <label>Email:</label>
                <input type="text" required>
            </div>
            <div class="inputBox required">
                <label>Сообщение:</label>
                <textarea></textarea>
            </div>
            <div class="inputBox required">
                <label>Подтвердите, что вы не робот: </label>
                <!--                    CAPTCHA-->
            </div>
        </div>
        <div class="modal__bottom">
            <div class="modal-req">
                <span>*</span>
                - Обязательные поля
            </div>
            <a href="#" class="btn btn-blue">Отправить</a>
        </div>
    </div>
</div>
