<div class="modal modal-call">
    <div class="modal__wrp">
        <div class="modal-close">
            <img src="assets/images/icons/closeWhite.svg" alt="">
        </div>
        <div class="modal__box ">
            <div class="modal__box-icon">
                <i class="i-phone white"></i>
            </div>
            <div>
                <div class="modal__title">Обратный звонок</div>
                <p>Представьтесь, мы вам перезвоним.</p>
            </div>
        </div>
        <div class="modal-form bnr__fon">
            <div class="inputBox required">
                <label>ФИО:</label>
                <input type="text" required>
            </div>
            <div class="inputBox required">
                <label>Телефон:</label>
                <input type="text" required>
            </div>
            <div class="inputBox required">
                <label>Подтвердите, что вы не робот: </label>
                <!--                    CAPTCHA-->
            </div>
        </div>
        <div class="modal__bottom">
            <div class="modal-req">
                <span>*</span>
                - Обязательные поля
            </div>
            <a href="#" class="btn btn-blue">Отправить</a>
        </div>
    </div>
</div>
