<section class="partners">
  <div class="container">
    <div class="swiper partners__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide partners__it">
          <a href="#">
            <img src="assets/images/logo2.png" alt="">
          </a>
        </div>
        <div class="swiper-slide partners__it">
          <a href="#">
            <img src="assets/images/logo2.png" alt="">
          </a>
        </div>
        <div class="swiper-slide partners__it">
          <a href="#">
            <img src="assets/images/logo2.png" alt="">
          </a>
        </div>
        <div class="swiper-slide partners__it">
          <a href="#">
            <img src="assets/images/logo2.png" alt="">
          </a>
        </div>
        <div class="swiper-slide partners__it">
          <a href="#">
            <img src="assets/images/logo2.png" alt="">
          </a>
        </div>
        <div class="swiper-slide partners__it">
          <a href="#">
            <img src="assets/images/logo2.png" alt="">
          </a>
        </div>
        <div class="swiper-slide partners__it">
          <a href="#">
            <img src="assets/images/logo2.png" alt="">
          </a>
        </div>
      </div>

    </div>
    <div class="swiper-button-next partners-next"></div>
    <div class="swiper-button-prev partners-prev"></div>
  </div>
</section>
